.permissions_modal_wrap {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.permissions_modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 50px 16px 30px;
  box-sizing: border-box;
  background: #fff;
  margin: 16px;
  border-radius: 8px;
  position: relative;
}
.permissions_modal .permissions_close {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  background: url('../../asset/close_24.svg') no-repeat center;
  background-size: 24px;
  cursor: pointer;
}
.permissions_modal .permissions_modal_icon {
  width: 128px;
  height: 128px;
  background: url('../../asset/art_letter_128@2x.png') no-repeat center / contain;
}
.permissions_modal .permissions_modal_icon.photos {
  background-image: url('../../asset/art_camera_128@2x.png');
}
.permissions_modal .permissions_modal_icon.messages {
  background-image: url('../../asset/art_bell_128@2x.png');
}
.permissions_modal .permissions_modal_icon.likes {
  background-image: url('../../asset/art_feature_likes_96@2x.png');
}
.permissions_modal .permissions_modal_title {
  line-height: 21px;
  font-size: 18px;
  margin-top: 21px;
  font-weight: bold;
  color: #1a1a1a;
}
.permissions_modal .permissions_caption {
  margin-top: 8px;
  font-size: 16px;
  line-height: 24px;
  color: #7a7a7a;
  max-width: 350px;
}
