.profile_edit_vk_albums_items {
  padding: 6px;
}
.profile_edit_vk_albums_items:after {
  content: '';
  display: block;
  clear: both;
}
.profile_edit_vk_albums_item,
.profile_edit_vk_photos_item {
  width: 50%;
  padding: 6px;
  box-sizing: border-box;
  float: left;
}
.profile_edit_vk_albums_item_cont {
  padding-top: 100%;
  position: relative;
  background: #ebebeb no-repeat center / cover;
  border-radius: 8px;
  overflow: hidden;
}
.profile_edit_vk_albums_item_title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 8px 6px;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px;
}
.profile_edit_vk_photos_item_cont {
  padding-top: 150%;
  border-radius: 8px;
  background: #ebebeb no-repeat center / cover;
}
