.SubscriptionBox {
  background: var(--background_content);
  width: 100%;
  height: 100%;
  animation: SubscriptionBox_anim 250ms ease-in-out;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  box-sizing: border-box;
  padding-top: env(safe-area-inset-top);
}
@keyframes SubscriptionBox_anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.SubscriptionBox__close {
  position: absolute;
  top: 16px;
  top: calc(env(safe-area-inset-top) + 16px);
  left: 16px;
  width: 24px;
  height: 24px;
  z-index: 100;
}
.SubscriptionBox__close svg {
  color: var(--text_primary);
}
.SubscriptionBox__cont {
  text-align: center;
  box-sizing: border-box;
  padding: 0 32px;
  max-width: 375px;
  width: 100%;
  margin: 46px auto 0;
  flex: 0 0 auto;
}
.SubscriptionBox__icon {
  width: 84px;
  height: 84px;
  margin: 0 auto;
  background: url('../../asset/art_premium_96@2x.png') no-repeat center / contain;
}
.SubscriptionBox__title {
  margin-top: 13px;
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  color: var(--text_primary);
}
.SubscriptionBox__caption {
  margin-top: 8px;
  color: var(--text_secondary);
  font-size: 16px;
  line-height: 22px;
}
.SubscriptionBox__items {
  margin-bottom: 24px;
}
.SubscriptionBox__item {
  margin-top: 14px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  color: var(--text_primary);
}
.SubscriptionBox__item.animate {
  background: rgba(163, 69, 230, 0.2);
  animation: SubscriptionBox__item_anim 3s ease-in-out forwards;
  animation-delay: 3s;
}
.SubscriptionBox__item:first-child {
  margin-top: 19px;
}
@keyframes SubscriptionBox__item_anim {
  from {
    background: rgba(163, 69, 230, 0.2);
  }
  to {
    background: var(--background_content);
  }
}
.SubscriptionBox__item_icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: no-repeat center / contain;
  flex: 0 0 auto;
}
.SubscriptionBox__item_icon.likes {
  background-image: url('../../asset/premium_likes_40.svg');
}
.SubscriptionBox__item_icon.cancel_action {
  background-image: url('../../asset/premium_undo_40.svg');
}
.SubscriptionBox__item_icon.super_likes {
  background-image: url('../../asset/premium_superlikes_40.svg');
}
.SubscriptionBox__item_icon.gifts {
  background-image: url('../../asset/premium_gifts_40.svg');
}
.SubscriptionBox__item_icon.invisible {
  background-image: url('../../asset/premium_invisible_40.png');
}
.SubscriptionBox__item_icon.messages {
  background-image: url('../../asset/premium_messages_40.svg');
}
.SubscriptionBox__item_icon.fav {
  background-image: url('../../asset/premium_fav_40.svg');
}
.SubscriptionBox__item_icon.skip_match {
  background-image: url('../../asset/settings_feedback_40.svg');
}
.SubscriptionBox__item_caption {
  margin-left: 12px;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}
.SubscriptionBox__button_caption {
  margin-top: 12px;
  font-size: 14px;
  line-height: 20px;
  color: var(--text_secondary);
}
.SubscriptionBox__pay_buttons {
  display: flex;
  flex: 0 0 auto;
  margin-top: 20px;
}
.SubscriptionBox__pay_buttons .Button {
  margin-left: 8px;
}
.SubscriptionBox__pay_buttons .Button:first-child {
  margin-left: 0;
}
.SubscriptionBox__pay_button {
  border-radius: 8px;
  border: 1px solid var(--separator_alternate);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  flex: 1;
  padding: 10px 0 42px;
  margin-left: 6px;
  position: relative;
  cursor: pointer;
  background: var(--background_light);
}
.SubscriptionBox__pay_button:first-child {
  margin-left: 0;
}
.SubscriptionBox__pay_button__badge {
  position: absolute;
  color: #fff;
  background: #e63973;
  font-size: 12px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -14px);
  line-height: 20px;
  padding: 0 6px;
  border-radius: 10px;
}
.SubscriptionBox__pay_button__badge.green {
  background-color: #2DB370;
}
.SubscriptionBox__pay_button__title {
  font-size: 16px;
  line-height: 20px;
  color: var(--text_primary);
  font-weight: 500;
}
.SubscriptionBox__pay_button__price {
  color: var(--text_secondary);
  margin-top: 6px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: line-through;
}
.SubscriptionBox__pay_button__price.sale {
  color: #2DB370;
  font-weight: 500;
  text-decoration: none;
}
.SubscriptionBox__pay_button__buy {
  color: #fff;
  background: #5181b8;
  padding: 6px 2px;
  flex-grow: 1;
  position: absolute;
  left: 4px;
  right: 4px;
  bottom: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border-radius: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.SubscriptionBox__slider .slick-next {
  display: none !important;
}
.SubscriptionBox__slide {
  height: 150px;
  outline: none;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.SubscriptionBox__slide__icon {
  width: 64px;
  height: 64px;
  background: no-repeat center / contain;
}
.SubscriptionBox__slide.likes .SubscriptionBox__slide__icon {
  background-image: url('../../asset/premium_likes_40.svg');
}
.SubscriptionBox__slide.cancel_action .SubscriptionBox__slide__icon {
  background-image: url('../../asset/premium_undo_40.svg');
}
.SubscriptionBox__slide.super_likes .SubscriptionBox__slide__icon {
  background-image: url('../../asset/premium_superlikes_40.svg');
}
.SubscriptionBox__slide.gifts .SubscriptionBox__slide__icon {
  background-image: url('../../asset/premium_gifts_40.svg');
}
.SubscriptionBox__slide.invisible .SubscriptionBox__slide__icon {
  background-image: url('../../asset/premium_invisible_40.png');
}
.SubscriptionBox__slide.messages .SubscriptionBox__slide__icon {
  background-image: url('../../asset/premium_messages_40.svg');
}
.SubscriptionBox__slide.fav .SubscriptionBox__slide__icon {
  background-image: url('../../asset/premium_fav_40.svg');
}
.SubscriptionBox__slide.skip_match .SubscriptionBox__slide__icon {
  background-image: url('../../asset/settings_feedback_40.svg');
}
.SubscriptionBox__slide__label {
  font-size: 16px;
  color: var(--text_primary);
  margin-top: 16px;
  text-align: center;
  padding: 0 16px;
}
