@import "../../css/vars";

.SubscriptionBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background: @color-white;
  width: 100%;
  height: 100%;
  animation: SubscriptionBox_anim 250ms ease-in-out;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  padding: 20px 0;
  box-sizing: border-box;
}

@keyframes SubscriptionBox_anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.SubscriptionBox__close {
  position: absolute;
  top: 16px;
  top: ~"calc(env(safe-area-inset-top) + 16px)";
  left: 16px;
  .size(24px);
}

.SubscriptionBox__cont {
  text-align: center;
  box-sizing: border-box;
  padding: 0 32px;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  flex: 0 0 auto;
}

.SubscriptionBox__icon {
  .size(84px);
  margin: 0 auto;
  background: url('../../asset/art_premium_96@2x.png') no-repeat center/contain;
}

.SubscriptionBox__title {
  margin-top: 13px;
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
}

.SubscriptionBox__caption {
  margin-top: 8px;
  color: @color-grey;
  font-size: 16px;
  line-height: 22px;
}

.SubscriptionBox__items {
  margin-bottom: 24px;
}

.SubscriptionBox__item {
  margin-top: 14px;
  display: flex;
  align-items: center;
  border-radius: @border-radius;

  &.animate {
    background: rgba(163, 69, 230, 0.2);
    animation: SubscriptionBox__item_anim 3s ease-in-out forwards;
    animation-delay: 3s;
  }

  &:first-child {
    margin-top: 19px;
  }
}

@keyframes SubscriptionBox__item_anim {
  from {
    background: rgba(163, 69, 230, 0.2);
  }
  to {
    background: @color-white;
  }
}

.SubscriptionBox__item_icon {
  .circle(34px);
  background: no-repeat center/contain;
  flex: 0 0 auto;

  &.likes {
    background-image: url('../../asset/premium_likes_40.svg');
  }

  &.cancel_action {
    background-image: url('../../asset/premium_undo_40.svg');
  }

  &.super_likes {
    background-image: url('../../asset/premium_superlikes_40.svg');
  }

  &.gifts {
    background-image: url('../../asset/premium_gifts_40.svg');
  }

  &.invisible {
    background-image: url('../../asset/premium_invisible_40.png');
  }

  &.messages {
    background-image: url('../../asset/settings_feedback_40.svg');
  }

  &.fav {
    background-image: url('../../asset/premium_fav_40.svg');
  }
}

.SubscriptionBox__item_caption {
  margin-left: 12px;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}

.SubscriptionBox__button_caption {
  margin-top: 12px;
  font-size: 14px;
  line-height: 20px;
  color: @color-grey;
}

.SubscriptionBox__pay_buttons {
  display: flex;
  flex: 0 0 auto;

  .Button {
    margin-left: 8px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.SubscriptionBox__pay_button {
  border-radius: @border-radius;
  border: 1px solid @color-grey-bg;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  flex: 1;
  padding: 10px 0 32px + 10;
  margin-left: 6px;
  position: relative;
  cursor: pointer;

  &:first-child {
    margin-left: 0;
  }
}

.SubscriptionBox__pay_button__badge {
  position: absolute;
  color: @color-white;
  background: @color-red;
  font-size: 12px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -14px);
  line-height: 20px;
  padding: 0 6px;
  border-radius: 10px;

  &.green {
    background-color: #2DB370;
  }
}

.SubscriptionBox__pay_button__title {
  font-size: 16px;
  line-height: 20px;
  color: @color-black;
  font-weight: 500;
}

.SubscriptionBox__pay_button__price {
  color: @color-grey;
  margin-top: 6px;
  font-size: 14px;
  line-height: 16px;
}

.SubscriptionBox__pay_button__buy {
  color: @color-white;
  background: @color-vk-blue;
  padding: 6px 2px;
  flex-grow: 1;
  position: absolute;
  left: 4px;
  right: 4px;
  bottom: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border-radius: @border-radius;
  text-overflow: ellipsis;
  overflow: hidden;
}
