.LiveChat__waiting {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.LiveChat__waiting .Spinner {
  flex: 0 0;
}
.LiveChat__waiting__title {
  color: #7a7a7a;
  margin-top: 26px;
  flex: 0 0 auto;
  padding: 0 26px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}
.LiveChat__waiting__or {
  color: #7a7a7a;
  margin-top: 16px;
  flex: 0 0 auto;
}
.LiveChat__waiting__payments {
  flex: 0 0 auto;
  margin-top: 16px;
}
.LiveChat__waiting__button {
  flex: 0 0 auto;
  margin-top: 26px;
}
.LiveChat__actions {
  display: flex;
  padding: 16px 0;
}
.LiveChat__action {
  flex: 1;
  margin-left: 8px;
}
.LiveChat__message__empty {
  padding: 26px 0;
  color: #7a7a7a;
  text-align: center;
}
.LiveChat__send-button-wrap {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
}
.LiveChat__messages {
  padding: 0 16px 10px;
}
.LiveChat__message {
  padding: 4px 0;
  display: flex;
}
.LiveChat__message.outbox {
  justify-content: flex-end;
}
.LiveChat__message__text {
  color: #191919;
  background: #ebebeb;
  padding: 8px;
  border-radius: 8px;
  flex: 0 0 auto;
}
.LiveChat__message.outbox .LiveChat__message__text {
  background: #e63973;
  color: #fff;
}
.LiveChat__message__system {
  color: #7a7a7a;
  text-align: center;
  padding: 16px 0;
  font-size: 16px;
  line-height: 20px;
}
