.InternalNotification {
  display: flex;
  padding: 12px;
  margin: 16px 0 8px;
}
.InternalNotification__icon {
  flex: 0 0 auto;
  width: 42px;
  height: 42px;
  background: no-repeat center / contain;
  margin-right: 12px;
  color: var(--text_primary);
}
.InternalNotification__icon svg {
  transform: scale(2.625);
  transform-origin: left top;
}
.InternalNotification__cont {
  flex: 1;
}
.InternalNotification__title {
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  color: var(--text_primary);
}
.InternalNotification__text {
  font-size: 16px;
  line-height: 24px;
  color: var(--text_secondary);
  margin-top: 8px;
  margin-bottom: 12px;
}
