@import "../../css/vars";

.TabBar {
  border-top: 1px solid #e4e4e4;
  width: 100%;
  background: @color-white;
  position: relative;
  padding: 0 15px;
  box-sizing: border-box;
}

.TabBar__helper {
  width: 100%;
  height: env(safe-area-inset-bottom);
  top: 48px;
  left: 0;
  background: @color-white;
  position: absolute;
}

.TabBar__cont {
  display: flex;
  width: 100%;
  height: 48px;
}

.TabBar__item {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;

  &.hasBadge:after {
    content: '';
    .circle(8px);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 10px;
    margin-top: -12px;
    background: @color-dark-green;
    animation: 3s linear TabBar__badge_anim forwards infinite;
  }
}

.TabBar__ads {
  body.desktop & {
    margin-top: 16px;
  }
}

@keyframes TabBar__badge_anim {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-6px);
  }
  20%, 100% {
    transform: translateY(0);
  }
}

.TabBar__item-icon {
  .size(24px);
  background: no-repeat center/contain;
  position: relative;
  transition: all 200ms ease-in-out;

  color: @color-grey-sub;
  path {
    transition: fill 200ms ease-in-out;
    fill: @color-grey-sub !important;
  }

  .TabBar__item.active & {
    color: @color-pink !important;
  }

  .TabBar__item.active & path {
    fill: @color-pink !important;
  }
}

.TabBar__item-title {
  line-height: 19px;
  font-size: 16px;
  font-weight: 500;
  margin-left: 4px;
  color: @color-grey-sub;
  display: none;

  .TabBar__item.active & {
    color: @color-pink !important;
  }
}

.TabBar__link {
  line-height: 19px;
  font-size: 16px;
  font-weight: 500;
  color: @color-grey-sub;
  padding: 12px 16px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

body.desktop {
  padding-right: 240px;

  .TabBar {
    position: fixed;
    top: 0;
    right: 0;
    width: 240px;
    background: @color-white;
    border-left: 1px solid #e4e4e4;
    border-top: none;
    height: 100%;
    padding: 16px 0;
    z-index: 200;
  }

  .TabBar__cont {
    flex-direction: column;
  }

  .TabBar__item {
    flex: 0 0 auto;
    width: 100%;
    justify-content: flex-start;
    height: 44px;
    padding: 0 16px;

    &.hasBadge:after {
      margin-top: -4px;
      animation: none;
    }
  }

  .TabBar__item-title {
    display: block;
  }
}