.TabBar {
  border-top: 1px solid #e4e4e4;
  width: 100%;
  background: #fff;
  position: relative;
  padding: 0 15px;
  box-sizing: border-box;
}
.TabBar__helper {
  width: 100%;
  height: env(safe-area-inset-bottom);
  top: 48px;
  left: 0;
  background: #fff;
  position: absolute;
}
.TabBar__cont {
  display: flex;
  width: 100%;
  height: 48px;
}
.TabBar__item {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.TabBar__item.hasBadge:after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(10px, -12px);
  background: #30bf78;
}
.TabBar__item-icon {
  width: 24px;
  height: 24px;
  background: no-repeat center / contain;
  position: relative;
  opacity: 0.5;
  transition: opacity 200ms ease-in-out;
}
.TabBar__item.active .TabBar__item-icon {
  opacity: 1;
}
.TabBar__item-icon.search {
  background-image: url('data:image/svg+xml,%3C?xml%20version%3D%221.0%22%20?%3E%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M16.463%2015.05l4.244%204.243a1%201%200%200%201-1.414%201.414l-4.244-4.244a7.5%207.5%200%201%201%201.414-1.414zM10.5%2016a5.5%205.5%200%201%200%200-11%205.5%205.5%200%200%200%200%2011z%22%20fill%3D%22%23e6457a%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E');
}
.TabBar__item-icon.messages {
  background-image: url('data:image/svg+xml,%3C?xml%20version%3D%221.0%22%20?%3E%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M3.575%2020.622c-1.398-.707.149-2.408.505-4.754a7.723%207.723%200%200%201-1.003-3.809C3.077%207.61%206.865%204%2011.538%204%2016.212%204%2020%207.608%2020%2012.06c0%204.45-3.788%208.059-8.462%208.059-.68%200-1.341-.077-1.975-.221-1.923%201.165-4.64%201.406-5.988.724zM8.54%2018.17l.683-.414.777.177a6.92%206.92%200%200%200%201.538.172c3.6%200%206.471-2.735%206.471-6.045s-2.87-6.044-6.47-6.044c-3.6%200-6.471%202.734-6.471%206.044%200%20.994.256%201.95.74%202.81l.345.61-.105.695c-.113.74-.302%201.405-.602%202.24l-.207.574c.94.053%202.317-.223%203.301-.82z%22%20fill%3D%22%23e6457a%22%20fill-rule%3D%22nonzero%22/%3E%3C/svg%3E');
}
.TabBar__item-icon.profile {
  background-image: url('data:image/svg+xml,%3C?xml%20version%3D%221.0%22%20?%3E%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M12%2013a5%205%200%201%201%200-10%205%205%200%200%201%200%2010zm0-2a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm-7.051%209.316a1%201%200%201%201-1.897-.632C4.178%2016.304%207.484%2014.5%2012%2014.5s7.822%201.803%208.948%205.184a1%201%200%200%201-1.897.632C18.234%2017.863%2015.734%2016.5%2012%2016.5s-6.234%201.363-7.051%203.816z%22%20fill%3D%22%23e6457a%22%20fill-rule%3D%22nonzero%22/%3E%3C/svg%3E');
}
.TabBar__item-icon.cards {
  background-image: url('data:image/svg+xml,%3C?xml%20version%3D%221.0%22%20?%3E%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M17.224%204.092l1.303.23c1.627.287%202.253.586%202.834%201.042.581.457.996%201.05%201.227%201.752.23.703.296%201.393.01%203.02l-1.036%205.872c-.287%201.627-.586%202.253-1.042%202.835a3.635%203.635%200%200%201-1.752%201.226c-.484.158-.962.24-1.744.18a5.74%205.74%200%200%200%20.797-2.003c.115-.016.22-.043.325-.078.326-.107.588-.29.8-.56.285-.362.436-.752.646-1.947l1.036-5.873c.21-1.195.202-1.612.059-2.05a1.635%201.635%200%200%200-.561-.8c-.362-.284-.751-.436-1.946-.646l-.279-.05c-.11-.842-.32-1.482-.672-2.139a5.774%205.774%200%200%200-.005-.01zM7.128%203h3.744c1.783%200%202.43.186%203.082.534.652.349%201.163.86%201.512%201.512.348.652.534%201.299.534%203.082v7.744c0%201.783-.186%202.43-.534%203.082a3.635%203.635%200%200%201-1.512%201.512c-.652.348-1.299.534-3.082.534H7.128c-1.783%200-2.43-.186-3.082-.534a3.635%203.635%200%200%201-1.512-1.512C2.186%2018.302%202%2017.655%202%2015.872V8.128c0-1.783.186-2.43.534-3.082a3.635%203.635%200%200%201%201.512-1.512C4.698%203.186%205.345%203%207.128%203zm0%202c-1.324%200-1.727.078-2.138.298-.304.162-.53.388-.692.692C4.078%206.4%204%206.804%204%208.128v7.744c0%201.324.078%201.727.298%202.138.162.304.388.53.692.692.411.22.814.298%202.138.298h3.744c1.324%200%201.727-.078%202.138-.298.304-.162.53-.388.692-.692.22-.411.298-.814.298-2.138V8.128c0-1.324-.078-1.727-.298-2.138a1.635%201.635%200%200%200-.692-.692C12.6%205.078%2012.196%205%2010.872%205H7.128z%22%20fill%3D%22%23E63973%22%20fill-rule%3D%22nonzero%22/%3E%3C/svg%3E');
}
