.Activity__loader {
  padding: 100px 0;
}
.Activity__failed {
  font-size: 16px;
  text-align: center;
  padding: 100px 16px;
  color: #7a7a7a;
}
.Activity__failed_msg {
  margin-bottom: 16px;
  line-height: 24px;
}
.im_dialogs_empty {
  color: #7a7a7a;
  text-align: center;
  padding: 32px 15px;
  font-size: 16px;
}
.im_dialogs_empty_title {
  font-size: 18px;
  line-height: 24px;
  color: #1a1a1a;
  font-weight: bold;
}
.im_dialogs_empty_caption {
  color: #7a7a7a;
  margin-top: 6px;
  font-size: 16px;
  line-height: 24px;
  padding: 0 32px;
  box-sizing: border-box;
  margin-bottom: 16px;
}
.im_dialogs {
  background: var(--background_content);
}
.im_dialog {
  position: relative;
  transition: opacity 150ms ease-in-out;
  user-select: none;
}
.im_dialog.premium:after {
  content: '';
  opacity: 0.2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--accent);
  z-index: 1;
}
.im_dialog:active {
  opacity: 0.6;
}
.im_dialog .im_dialog_cont_wrap {
  position: relative;
  z-index: 2;
  padding: 6px 0;
  display: flex;
}
.im_dialog .im_dialog_photo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-left: 16px;
  background: #ebebeb no-repeat center / cover;
  flex: 0 0 auto;
}
.im_dialog .im_dialog_photo.likes {
  background: var(--destructive);
  display: flex;
  align-items: center;
  justify-content: center;
}
.im_dialog .im_dialog_photo.likes .Icon {
  transform: scale(1.4);
}
.im_dialog .im_dialog_photo_wrap {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  flex: 0 0 auto;
  margin-left: 16px;
}
.im_dialog .im_dialog_photo_wrap .im_dialog_photo {
  margin-left: 0;
}
.im_dialog.hidden .im_dialog_photo {
  filter: blur(5px);
}
.im_dialog .im_dialog_separator {
  position: absolute;
  bottom: 0;
  height: 1px;
  right: 0;
  left: 92px;
  background: var(--separator_alternate);
}
.im_dialog .im_dialog_cont {
  padding: 12px 16px 12px 12px;
  box-sizing: border-box;
  flex: 1;
  overflow: hidden;
}
.im_dialog .im_dialog_name_wrap {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.im_dialog .im_dialog_name {
  font-size: 16px;
  line-height: 19px;
  color: var(--text_name);
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.im_dialog .im_dialog_name_online {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #30bf78;
  flex: 0 0 auto;
  margin-left: 8px;
}
.im_dialog .im_dialog_message {
  color: #7a7a7a;
  line-height: 16px;
  font-size: 14px;
  margin-top: 5px;
  user-select: none;
}
.im_dialog .im_dialog_system {
  color: #5181b8;
  overflow: hidden;
  text-overflow: ellipsis;
}
.im_dialog .im_dialog_name,
.im_dialog .im_dialog_message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.im_dialog .im_dialog_badge {
  flex: 0 0 auto;
  background: #5181b8;
  font-size: 14px;
  line-height: 24px;
  height: 24px;
  box-sizing: border-box;
  padding: 0 8px;
  border-radius: 12px;
  margin-right: 12px;
  align-self: center;
  color: #fff;
  font-weight: 500;
  overflow: hidden;
}
.im_dialog .im_dialog_badge:empty {
  display: none;
}
.im_dialog .im_dialog_fav {
  width: 36px;
  height: 36px;
  background: url('../../asset/fav_24.svg?1') no-repeat center / contain;
  margin-left: 10px;
  align-self: center;
  margin-right: 4px;
  background-size: 18px;
}
.im_dialog .im_dialog_fav.active {
  background-image: url('../../asset/unfav_24.svg');
}
.im_history_wrap {
  display: flex;
  flex-direction: COLUMN;
  justify-content: flex-end;
  position: relative;
}
.im_history_cont {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  padding: 16px;
}
.im_history {
  -webkit-overflow-scrolling: touch;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
  overscroll-behavior: contain;
  padding-bottom: 97px;
}
body.desktop .im_history {
  padding-bottom: 48px !important;
}
#im_history {
  box-sizing: border-box;
  background: var(--background_content);
  min-height: 100vh;
}
#im_history .Panel__in {
  background: var(--background_content);
}
#im_history.is_focused .Panel__in {
  padding-bottom: 0 !important;
}
.im_message_wrap {
  display: flex;
  padding: 6px 16px;
  flex-direction: row-reverse;
  flex: 0 0 auto;
  overflow: hidden;
}
.im_message_wrap.inbox {
  flex-direction: row;
}
.im_message_wrap.sending {
  opacity: 0.64;
}
.im_message_wrap.failed {
  background: rgba(230, 57, 115, 0.1);
}
.ImHistory__sticker {
  width: 200px;
  height: 200px;
  background: no-repeat center / contain;
  margin-right: -20px;
}
.im_message {
  font-size: 16px;
  padding: 12px 16px;
  line-height: 22px;
  border-radius: 8px;
  color: #fff;
  background: #5181b8;
  user-select: text;
  word-wrap: break-word;
  word-break: break-word;
  box-sizing: border-box;
  max-width: 338px;
  overflow: hidden;
}
.im_message_wrap.inbox .im_message {
  color: var(--text_primary);
  background: var(--background_keyboard);
}
.im_message_wrap.gift .im_message {
  background: #ffd580;
  color: #1a1a1a;
  width: 256px;
  padding-top: 16px;
}
.im_message_wrap.photo .im_message,
.im_message_wrap.sticker .im_message {
  padding: 0;
  max-width: 100%;
  overflow: hidden;
}
.im_message_wrap.sticker .im_message {
  background: transparent;
  opacity: 1;
}
.im_message_wrap.emoji .im_message {
  background: none;
  padding: 0;
}
.im_message_wrap.emoji .im_message {
  font-size: 56px;
  line-height: 74px;
}
.im_message_ava {
  flex: 0 0 auto;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: no-repeat center / cover;
  margin-right: 12px;
  align-self: flex-end;
}
.im_message_name {
  margin-bottom: 3px;
  color: #7a7a7a;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
}
.im_message_name.admin {
  color: #5181b8;
}
.im_message_date {
  margin-right: 12px;
  align-self: flex-end;
  color: #a3a3a3;
  margin-bottom: 13px;
  justify-self: flex-end;
  font-size: 12px;
  line-height: 16px;
  flex: 0 0 auto;
}
.im_message_wrap.inbox .im_message_date {
  margin-right: 0;
  margin-left: 12px;
}
.im_message_unread_indicator {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #30bf78;
  margin-right: 6px;
  margin-bottom: 19px;
  flex: 0 0 auto;
  align-self: flex-end;
  opacity: 0;
}
.im_message_wrap.inbox .im_message_unread_indicator {
  margin-right: 0;
  margin-left: 6px;
}
.im_message_wrap.unread .im_message_unread_indicator {
  opacity: 1;
}
.im_message_wrap.failed .im_message_unread_indicator {
  opacity: 1;
  background: #5181b8;
}
.im_date {
  color: #808080;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: lowercase;
}
.im_send_form {
  border-top: 1px solid var(--separator_alpha);
  background: #fff;
  background: var(--background_content);
  height: 97px;
  bottom: 0 !important;
  left: 0;
  right: 0;
  padding-bottom: 0 !important;
  padding-bottom: env(safe-area-inset-bottom) !important;
  transition: transform 150ms ease-in-out;
  box-sizing: initial;
}
.im_send_form.is_hidden {
  transform: translateY(100%);
}
.im_send_form.is_focused {
  padding-bottom: 0 !important;
}
body.desktop .im_send_form {
  right: 240px;
}
.im_send_form_cont {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  box-sizing: border-box;
}
.im_send_form_cont.keyboard_shown {
  padding-bottom: 0;
}
.im_send_form.multi .im_send_form_cont {
  flex-direction: row;
  padding-top: 0;
  align-items: center;
}
.im_send_form_text_area {
  flex: 1;
  width: 100%;
  border: 0;
  padding: 13px 16px 13px 16px;
  line-height: 22px;
  font-size: 16px;
  resize: none;
  outline: none;
  max-height: 100px;
  box-sizing: border-box;
  height: 48px;
  background: var(--background_content);
  color: var(--text_primary);
}
.im_send_form_buttons {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding: 0 6px;
  width: 100%;
  box-sizing: border-box;
  transition: opacity 150ms ease-in-out;
}
.im_send_form_buttons:active {
  opacity: 0.7;
}
.im_send_form.multi .im_send_form_buttons {
  width: auto;
}
.im_send_form_button {
  padding: 0 16px;
  display: flex;
  align-items: center;
  height: 48px;
  position: relative;
  margin-left: auto;
  color: #a3a3a3;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.im_send_form_button.active {
  color: #5181b8;
}
.im_history_match {
  padding: 16px 0 15px;
  text-align: center;
}
.im_history_match .im_history_match_icons {
  display: flex;
  justify-content: space-between;
  width: 144px;
  margin: 0 auto;
  position: relative;
  height: 48px;
}
.im_history_match .im_history_match_icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: no-repeat center / cover;
}
.im_history_match .im_history_match_heart {
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 4px solid #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #5181b8 url('asset/match_like.svg') no-repeat center;
  background-size: 36px;
}
.im_history_match .im_history_match_title {
  color: #1a1a1a;
  margin-top: 17px;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}
.im_history_match .im_history_match_caption {
  margin-top: 5px;
  line-height: 22px;
  font-size: 16px;
  color: #7a7a7a;
}
.im_history_gift {
  display: flex;
  flex-direction: column;
}
.im_history_gift_image {
  max-width: 224px;
  width: 100%;
  background: #fff no-repeat center / contain;
  border-radius: 4px;
}
.im_history_gift_image:after {
  content: '';
  display: block;
  padding-top: 100%;
}
.im_history_gift_info {
  color: #99752e;
  margin-top: 12px;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: none;
}
.im_history_gift_info:before {
  content: '';
  width: 14px;
  height: 14px;
  margin-right: 5px;
  background: url('asset/gift_16.svg') no-repeat center / contain;
}
.im_history_gift_text {
  font-size: 16px;
  line-height: 22px;
  margin-top: 4px;
}
.im_history_gift_text:empty {
  display: none;
}
.im_send_photo_button,
.im_send_gift_button,
.im_send_sticker_button {
  width: 48px;
  height: 48px;
  position: relative;
  background: url('asset/toolbar_photo_24.svg') no-repeat center;
  background-size: 24px;
  overflow: hidden;
}
.im_send_photo_button input,
.im_send_gift_button input,
.im_send_sticker_button input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.im_send_sticker_button {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.im_send_sticker_button.badge:after {
  content: '';
  display: block;
  position: absolute;
  top: 13px;
  right: 13px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: #e63973;
}
.im_send_gift_button {
  background-image: url('asset/toolbar_gift_24.svg');
}
.im_history_photo {
  position: relative;
  max-width: 300px;
}
.im_history_photo_helper {
  width: 100%;
  background: #ebebeb no-repeat center / contain;
}
.im_history_status {
  color: #7a7a7a;
  padding: 0 16px 16px;
}
.im_history_status:empty:before {
  content: ' ';
  display: block;
}
.im_history_system {
  padding: 8px 0;
  color: #7a7a7a;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.im_history_empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 25px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--background_content);
}
.im_activity_wrap .im_history_empty {
  display: none;
}
.im_activity_wrap.empty .im_history_empty {
  display: flex;
}
.im_history_empty .im_history_empty_img {
  width: 128px;
  height: 128px;
  background: url('../../asset/art_message_128@2x.png') no-repeat center / contain;
}
.im_history_empty .im_history_empty_img.activity {
  background-image: url('../../asset/art_letter_128@2x.png');
}
.im_history_empty .im_history_empty_img.payment_govno_platform {
  background-image: url('../../asset/art_error_128@2x.png');
}
.im_history_empty .im_history_empty_img.deactivated_deleted {
  background-image: url('../../asset/art_goodbye_128@2x.png');
}
.im_history_empty .im_history_empty_img.deactivated_banned {
  background-image: url('../../asset/art_error_128@2x.png');
}
.im_history_empty .im_history_empty_title {
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  color: var(--text_primary);
  margin-top: 21px;
}
.im_history_empty .im_history_empty_text {
  margin-top: 8px;
  line-height: 24px;
  font-size: 16px;
  color: var(--text_secondary);
  max-width: 400px;
}
.im_history_empty .im_history_empty_extra {
  margin-top: 18px;
  text-align: center;
}
.im_history_empty .im_history_empty_extra:empty {
  display: none;
}
.likes_rows {
  display: flex;
  flex-wrap: nowrap;
}
.likes_rows:after,
.likes_rows:before {
  content: '';
  width: 10px;
  height: 66px;
  flex: 0 0 auto;
}
.likes_rows::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}
.likes_rows::-webkit-scrollbar-thumb {
  background: transparent;
}
.likes_row {
  flex: 0 0 auto;
  width: 66px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  transition: opacity 150ms ease-in-out;
}
.likes_row:active {
  opacity: 0.6;
}
.likes_avail_timer {
  color: #7a7a7a;
}
.likes_row_photo_wrap {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.likes_row_new_indicator {
  display: none;
  content: '';
  position: absolute;
  border: 2px solid #5181b8;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 2px #fff;
  border-radius: 50%;
}
.likes_row.unread .likes_row_new_indicator {
  display: block;
}
.likes_row_photo {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #ebebeb no-repeat center / cover;
  position: relative;
}
.likes_row.unread .likes_row_photo:after {
  content: '';
  position: absolute;
  border: 2px solid #5181b8;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
}
.likes_row.unread .likes_row_photo:before {
  content: '';
  position: absolute;
  border: 2px solid #fff;
  box-sizing: border-box;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 50%;
}
.likes_row.cant_see .likes_row_photo {
  filter: blur(8px);
}
.likes_row_name {
  color: #1a1a1a;
  margin-top: 8px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  padding: 0 2px;
  box-sizing: border-box;
}
.likes_row.unread .likes_row_name {
  color: #5181b8;
  font-weight: 500;
}
.live_feed_featured_helper {
  height: 84px;
  width: 100%;
}
.live_feed_featured_wrap {
  overflow: hidden;
  transform: translateZ(0);
  background: var(--background_content);
  height: 84px;
  width: 100%;
}
.live_feed_featured_wrap:after {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  height: 1px;
  content: '';
  background: var(--separator_common);
  bottom: 0;
}
@media (min-resolution: 2dppx) {
  .live_feed_featured_wrap:after {
    transform: scaleY(0.5);
  }
}
@media (min-resolution: 3dppx) {
  .live_feed_featured_wrap:after {
    transform: scaleY(0.33);
  }
}
body.desktop .live_feed_featured_wrap {
  right: 240px;
}
.live_feed_featured {
  padding: 10px 10px 40px 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  height: 124px;
}
.live_feed_featured:after {
  width: 10px;
  height: 30px;
  display: block;
  content: '';
  flex: 0 0 auto;
}
@keyframes live_feed_featured_anim {
  from {
    padding-left: 6px;
  }
  to {
    padding-left: 82px;
  }
}
.live_feed_featured_item {
  width: 76px;
  border-radius: 8px;
  flex: 0 0 auto;
  text-align: center;
  transform: translateZ(0);
}
.live_feed_featured.animated .live_feed_featured_item {
  animation: live_feed_featured_item_anim 250ms ease-in-out forwards;
  opacity: 0;
  will-change: transform;
}
@keyframes live_feed_featured_item_anim {
  from {
    opacity: 0;
    transform: translateX(50px) translateZ(0);
  }
  to {
    opacity: 1;
    transform: translateX(0) translateZ(0);
  }
}
.live_feed_featured_item_photo {
  background: #ebebeb no-repeat center / cover;
  width: 64px;
  height: 64px;
  margin: 0 auto;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.live_feed_featured_item.add_btn .live_feed_featured_item_photo {
  overflow: initial;
}
.live_feed_featured_item.add_btn .live_feed_featured_item_photo:before {
  content: '';
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 24px;
  height: 24px;
  background: url('asset/promo_add_24.svg') no-repeat center / contain;
  z-index: 3;
}
.live_feed_featured_item_photo:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.32));
  z-index: 1;
}
.live_feed_featured_item.add_btn .live_feed_featured_item_photo:after {
  display: none;
}
.live_feed_featured_item_name {
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
  color: #fff;
  position: absolute;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  z-index: 2;
  overflow: hidden;
}
@keyframes FeatureBtnRotate {
  0%,
  85% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.live_feed_featured_pay_button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 68px;
  height: 64px;
  box-sizing: border-box;
  background: #5181b8;
  border-radius: 8px;
  margin-right: 6px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}
.live_feed_featured_pay_button_text {
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  z-index: 3;
  color: #fff;
  text-align: center;
}
.Activity__likes-badge {
  background: #5181b8;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.Activity__im-history__online {
  color: #7a7a7a;
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px;
  padding: 0 16px;
}
.Activity__new_guests {
  color: #5181b8;
}
.Activity__new_guests:empty {
  display: none;
}
.Im__suggest_gifts {
  display: flex;
  margin-top: 10px;
}
.Im__suggest_gift {
  flex: 1;
  box-sizing: border-box;
}
.Im__suggest_gift__image {
  padding-top: 100%;
  background: no-repeat center / contain;
}
.Feature__suggest {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 16px;
  animation: Feature__suggest__anim 250ms ease-in-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
}
@keyframes Feature__suggest__anim {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
.Feature__suggest__title {
  font-size: 16px;
  line-height: 22px;
  color: var(--text_primary);
}
.StickersKeyboard {
  background: #fff;
  background: var(--background_content);
  width: 100%;
  border-radius: 16px 16px 0 0;
  position: relative;
  padding-bottom: 26px;
}
.StickersKeyboard__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: var(--text_primary);
  text-align: center;
  padding: 14px 0;
}
.StickersKeyboard__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px 16px;
}
.StickersKeyboard__stickers {
  display: flex;
  flex-wrap: wrap;
}
.StickersKeyboard__sticker {
  width: 33.3%;
  opacity: 0.5;
}
.StickersKeyboard__sticker.available {
  opacity: 1;
}
.StickersKeyboard__sticker__image {
  padding-top: 100%;
  background: no-repeat center / contain;
}
.im_history_name {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.Activity__promote_feature__caption {
  font-size: 15px;
  line-height: 20px;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 16px 0 16px;
}
