.Cards {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}
.Cards__items {
  position: relative;
  z-index: 1;
  touch-action: pan-x;
  overflow: hidden;
}
.Cards__item {
  position: absolute;
  border-radius: 8px;
  top: 16px;
  bottom: 16px;
  left: 16px;
  right: 16px;
  background: #fff;
  overflow: hidden;
  transition: transform 200ms ease-in-out;
  will-change: transform;
}
.Cards__item.swipeTip {
  animation: cards_item_swipe_tip_anim 1s ease-in-out;
}
.Cards__item:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.42));
  z-index: 2;
}
.Cards__item.ads {
  background: #ebebeb no-repeat center / cover;
}
.Cards__item.ads:after {
  display: none;
}
.Cards__item.system {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 16px 16px;
  flex-direction: column;
}
.Cards__item.system:after {
  display: none;
}
.Cards.is_moving .Cards__item {
  transition: none;
}
@keyframes cards_item_swipe_tip_anim {
  0% {
    transform: rotateZ(0) translateX(0);
  }
  50% {
    transform: rotateZ(12deg) translateX(30vw);
  }
  100% {
    transform: rotateZ(0) translateX(0);
  }
}
.Cards__item--system-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #1a1a1a;
  text-align: center;
}
.Cards__item--system-caption {
  font-size: 16px;
  line-height: 20px;
  color: #7a7a7a;
  margin-top: 12px;
  text-align: center;
}
.Cards__item--system-extra {
  margin-top: 16px;
}
.Cards__photo {
  position: absolute;
  z-index: 1;
  background: rgba(26, 26, 26, 0.92) no-repeat center / cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.Cards__photo.active {
  opacity: 1;
}
.Cards__item--footer {
  min-height: 56px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  z-index: 3;
  justify-content: space-between;
}
.Cards__item--footer-name {
  color: #fff;
  font-size: 22px;
  line-height: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.Cards__item.online .Cards__item--footer-name:after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background: #30bf78;
  margin-left: 8px;
}
.Cards__item__vip {
  color: #ffd580;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #ffd580;
  border-radius: 8px;
  padding: 0 8px;
  flex: 0 0 auto;
  box-sizing: border-box;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
}
.Cards__item--footer-caption {
  line-height: 16px;
  font-size: 14px;
  color: #fff;
  margin-top: 4px;
  margin-bottom: 8px;
}
.Cards__item--footer-caption:empty {
  display: none;
}
.Cards__item__super-like {
  background: #fff url('asset/superlike_24.svg') no-repeat center;
  background-size: 24px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  flex: 0 0 auto;
}
.Cards__item--footer-info-ic {
  background: no-repeat center / contain;
  background-image: url('data:image/svg+xml,%3C?xml%20version%3D%221.0%22%20?%3E%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M12%2024C5.373%2024%200%2018.627%200%2012S5.373%200%2012%200s12%205.373%2012%2012-5.373%2012-12%2012zm0-13a1%201%200%200%200-1%201v5a1%201%200%200%200%202%200v-5a1%201%200%200%200-1-1zm0-2a1.5%201.5%200%201%200%200-3%201.5%201.5%200%200%200%200%203z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E');
  width: 24px;
  height: 24px;
  flex: 0 0 auto;
  margin-left: 8px;
}
.Cards__item--footer-info {
  flex: 1;
}
.cards_item_photo_lines {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  box-sizing: border-box;
  z-index: 3;
  width: 100%;
}
.cards_item.gifts_shown .cards_item_photo_lines {
  z-index: 4;
}
.cards_item_photo_line {
  height: 4px;
  flex: 1;
  border-radius: 2px;
  background: #fff;
  opacity: 0.48;
  margin-left: 4px;
  position: relative;
  z-index: 2;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12), 0 1px 0 0 rgba(0, 0, 0, 0.08);
}
.cards_item_photo_line:first-child {
  margin-left: 0;
}
.cards_item_photo_line.selected {
  opacity: 1;
}
.Cards__big_button {
  position: absolute;
  top: 50%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: -30px;
  background: var(--background_light) no-repeat center;
  background-size: 28px;
  will-change: transform;
  transition: transform 200ms ease-in-out;
  z-index: 2;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.1);
}
.Cards.empty .Cards__big_button {
  display: none;
}
.Cards__big_button.like {
  right: -8px;
  background-image: url('asset/liked_24.svg');
}
.Cards__big_button.dislike {
  left: -8px;
  background-image: url('asset/close_24.svg');
}
.Cards.is_moving .Cards__big_button {
  transition: none;
}
.cards_empty {
  display: none !important;
  z-index: 100;
}
.Cards.empty .cards_empty {
  display: flex !important;
}
.Cards.hideControls .Cards__big_button {
  display: none !important;
}
.Cards__ads__info {
  padding: 16px;
  flex: 1;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 7;
  align-items: center;
}
.Cards__ads__title {
  font-size: 22px;
  color: #fff;
  line-height: 25px;
  font-weight: bold;
  flex: 1;
  word-wrap: break-word;
}
.Cards__ads__button {
  flex: 0 0 auto;
  margin-left: 16px;
  font-size: 14px;
  color: #e63973;
  background: #fff;
  padding: 5px 12px;
  text-align: center;
  border-radius: 8px;
}
.Cards__ads__adv-info {
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  position: absolute;
  z-index: 10;
  top: 16px;
  right: 16px;
  text-shadow: 1px 1px 0.3px rgba(0, 0, 0, 0.7);
}
body.desktop .Cards {
  width: 375px;
  overflow: initial;
  margin: 16px auto 0;
}
.match_box_wrap {
  width: 100%;
  height: 100%;
  background: #e63973;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
.match_box_info {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.match_box_title {
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
}
.match_box_cards {
  position: relative;
  width: 216px;
  height: 180px;
  margin-top: 20px;
}
.match_box_cards:after {
  content: '';
  bottom: -8px;
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  background: url('asset/match_white_64.svg') no-repeat center / contain;
  position: absolute;
  z-index: 3;
  animation: match_box_card_like_bounce 500ms ease-in-out forwards;
}
@keyframes match_box_card_anim_from {
  from {
    transform: rotate(0) translateX(8px);
  }
  to {
    transform: rotate(-8deg) translateX(-8px);
  }
}
@keyframes match_box_card_anim_me {
  from {
    transform: rotate(0) translateX(-8px);
  }
  to {
    transform: rotate(8deg) translate(8px, -8px);
  }
}
@keyframes match_box_card_like_bounce {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.match_box_card {
  position: absolute;
  bottom: 0;
  width: 120px;
  height: 160px;
  border-radius: 8px;
  background: no-repeat center / cover;
}
.match_box_card.from {
  left: 0;
  z-index: 2;
  animation: match_box_card_anim_from 300ms ease-in-out forwards;
}
.match_box_card.me {
  right: 0;
  z-index: 1;
  bottom: 0;
  animation: match_box_card_anim_me 300ms ease-in-out forwards;
}
.match_box_caption {
  font-size: 16px;
  line-height: 22px;
  margin-top: 28px;
}
.match_box_buttons {
  position: relative;
  z-index: 2;
  flex: 0;
  padding: 16px 32px;
  box-sizing: border-box;
  width: 100%;
  max-width: 350px;
}
.match_box_button {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding: 14px 0;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 8px;
  margin-bottom: 16px;
  transition: opacity 150ms ease-in-out;
}
.match_box_button:active {
  opacity: 0.7;
}
.match_box_button.white {
  color: #5181b8;
  background: #fff;
}
.match_box_close {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid #fff;
  box-sizing: border-box;
  background: url('asset/close_white_24.svg') no-repeat center;
  background-size: 24px;
  margin: 0 auto;
}
.match_box_bg {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 960px;
  height: 960px;
  transform: translate(-50%, calc(-50% - 100px));
  z-index: 1;
}
.Cards__item__caption_row {
  line-height: 16px;
  font-size: 14px;
  color: #fff;
  padding-left: 24px;
  position: relative;
  margin-right: 10px;
  display: inline-block;
  margin-top: 6px;
}
.Cards__item__caption_row:first-child {
  margin-left: 0;
}
.Cards__item__caption_row:before {
  content: '';
  top: 0;
  left: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: no-repeat center / contain;
  position: absolute;
}
.Cards__item__caption_row.job:before {
  background-image: url('../../asset/ic_profile_job.svg');
}
.Cards__item__caption_row.education:before {
  background-image: url('../../asset/ic_profile_education.svg');
}
.Cards__like_badge_wrap {
  position: relative;
}
.Cards__like_badge {
  position: relative;
}
.Cards__like_badge:after {
  content: '';
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border: 2px solid var(--header_background);
  border-radius: 50%;
  background: #e63973;
  top: 2px;
  right: -2px;
}
