@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
#profile .Panel__in {
  padding-top: 0 !important;
  background: #fff !important;
}
.profile_view {
  padding-bottom: 28px;
}
.profile_view_write_message_btn {
  margin-top: 18px;
}
.profile_view_hide {
  background: url('asset/close_shadow_24@2x.png') no-repeat center;
  background-size: 36px;
  padding: 10px;
  width: 36px;
  height: 36px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding-top: 64px;
  padding-top: calc(44px + constant(safe-area-inset-top));
  padding-top: calc(44px + env(safe-area-inset-top));
}
.profile_view_photos_wrap {
  width: 100%;
  overflow: hidden;
  background: #1a1a1a;
  position: relative;
  z-index: 9;
}
.profile_view_photos_wrap .profile_view_photo {
  width: 100%;
  background: no-repeat center / cover;
}
.profile_view_photos_wrap .Gallery__bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.48);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12), 0 1px 0 0 rgba(0, 0, 0, 0.08);
  opacity: 1;
}
.profile_view_photos_wrap .Gallery__bullet:before {
  display: none;
}
.profile_view_photos_wrap .Gallery__bullet--active {
  background: #fff;
}
.profile_view_info {
  padding: 20px 16px 0;
  position: relative;
  background: #fff;
  margin-bottom: 72px;
}
.profile_view_send_msg {
  position: absolute;
  top: 18px;
  right: 16px;
  border: 1px solid #5181b8;
  color: #5181b8;
  border-radius: 6px;
  font-size: 14px;
  line-height: 16px;
  padding: 7px 12px 7px 32px;
}
.profile_view_send_msg:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  left: 12px;
  top: 7px;
  background: url('asset/ic_profile_message.svg') no-repeat center / contain;
}
.profile_view_name {
  font-size: 22px;
  font-weight: bold;
  color: #1a1a1a;
  line-height: 25px;
}
.profile_view_name:empty {
  display: none;
}
.profile_view_name .online_indicator {
  width: 8px;
  height: 8px;
  margin-left: 8px;
  position: relative;
}
.profile_view_name .online_indicator:after,
.profile_view_name .online_indicator:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #30bf78;
  opacity: 0.8;
  animation: profile_view_online_anim 7s ease-out infinite;
  animation-delay: 2s;
  z-index: -1;
}
.profile_view_name .online_indicator:after {
  animation-delay: 3s;
}
@keyframes profile_view_online_anim {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  25%,
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
.profile_view_info_rows {
  padding-top: 2px;
  margin-bottom: 12px;
}
.profile_view_info_rows:empty {
  display: none;
}
.profile_view_info_purpose {
  font-size: 16px;
  line-height: 20px;
  color: #7a7a7a;
  margin: 16px 0 10px;
}
.profile_view_info_purpose span {
  color: #1a1a1a;
}
.profile_view_info_row {
  line-height: 16px;
  font-size: 14px;
  color: #7a7a7a;
  margin-top: 7px;
  padding-left: 24px;
  position: relative;
}
.profile_view_info_row:before {
  content: '';
  top: 0;
  left: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: no-repeat center / contain;
  position: absolute;
}
.profile_view_info_row.geo:before {
  background-image: url('asset/ic_profile_geo.svg');
}
.profile_view_info_row.job:before {
  background-image: url('asset/ic_profile_job.svg');
}
.profile_view_info_row.education:before {
  background-image: url('asset/ic_profile_education.svg');
}
.profile_view_about {
  line-height: 24px;
  font-size: 16px;
  color: #1a1a1a;
}
.profile_view_about:empty {
  display: none;
}
.profile_view.deactivated .profile_view_about {
  text-align: center;
  color: #7a7a7a;
}
.profile_view_footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 16px 16px;
  padding-bottom: calc(16px + env(safe-area-inset-bottom));
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 30%);
  position: fixed;
  bottom: 0;
}
body.desktop .profile_view_footer {
  width: 450px;
}
.profile_view_footer_item {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.1);
  background: #fff;
}
.profile_view_footer_item:after {
  width: 24px;
  height: 24px;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: no-repeat center / contain;
}
.profile_view_footer_item.like:after {
  background-image: url('asset/ic_liked.svg');
}
.profile_view_footer_item.dislike:after {
  background-image: url('asset/ic_close_24_grey.svg');
}
.profile_view_footer_item {
  flex: 0 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  transition: opacity 150ms ease-in-out;
}
.profile_view_footer_item:active {
  opacity: 0.6;
}
.profile_view_footer_item:first-child {
  margin-left: 0;
}
.profile_view_footer_item:after {
  width: 24px;
  height: 24px;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: no-repeat center / contain;
}
.profile_view_footer_item.like:after {
  background-image: url('asset/ic_liked.svg');
}
.profile_view_footer_item.liked:after {
  background-image: url('asset/ic_liked.svg');
}
.profile_view_footer_item.message {
  color: #399EE6;
}
.profile_view_footer.deactivated .profile_view_footer_item.like,
.profile_view_footer.deactivated .profile_view_footer_item.liked {
  pointer-events: none;
}
.profile_view_footer.deactivated .profile_view_footer_item.like:after,
.profile_view_footer.deactivated .profile_view_footer_item.liked:after {
  background-image: url('asset/like_grey_24.svg') !important;
}
.profile_view_buttons {
  margin-top: 8px;
}
.profile_view_buttons:empty {
  display: none;
}
.profile_view_button {
  border-top: 1px solid #ebebeb;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #5181b8;
  padding: 13px 0;
}
.profile_view_button:first-child {
  border: 0;
}
.profile_view_actions_info {
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  box-sizing: border-box;
  background: rgba(230, 57, 115, 0.16);
  border-radius: 8px;
  margin-top: 16px;
  color: #1a1a1a;
}
.profile_view_deactivated {
  margin-top: 19px;
  line-height: 24px;
  font-size: 16px;
  color: #7a7a7a;
  text-align: center;
  padding: 0 16px;
}
