@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
#profile .Panel__in {
  padding-top: 0 !important;
  background: var(--background_content) !important;
}
.profile_view {
  padding-bottom: 28px;
}
.profile_view_write_message_btn {
  margin-top: 18px;
}
.profile_view_hide {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  top: calc(env(safe-area-inset-top));
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  box-sizing: border-box;
}
.View--ios .profile_view_hide {
  height: 43px;
  width: 43px;
}
.View--android .profile_view_hide {
  height: 56px;
  width: 56px;
}
.profile_view_hide svg {
  filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.6));
}
.profile_view_photos_wrap {
  width: 100%;
  overflow: hidden;
  background: #1a1a1a;
  position: relative;
  z-index: 9;
}
.profile_view_photos_wrap .profile_view_photo {
  width: 100%;
  background: no-repeat center / cover;
}
.profile_view_photos_wrap .Gallery__bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.48);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12), 0 1px 0 0 rgba(0, 0, 0, 0.08);
  opacity: 1;
}
.profile_view_photos_wrap .Gallery__bullet:before {
  display: none;
}
.profile_view_photos_wrap .Gallery__bullet--active {
  background: #fff;
}
.profile_view_info {
  padding: 20px 16px 0;
  position: relative;
  background: var(--background_content);
  margin-bottom: 72px;
}
.profile_view_send_msg {
  position: absolute;
  top: 18px;
  right: 16px;
  border: 1px solid #5181b8;
  color: #5181b8;
  border-radius: 6px;
  font-size: 14px;
  line-height: 16px;
  padding: 7px 12px 7px 32px;
}
.profile_view_send_msg:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  left: 12px;
  top: 7px;
  background: url('asset/ic_profile_message.svg') no-repeat center / contain;
}
.profile_view_name {
  font-size: 22px;
  font-weight: bold;
  color: #1a1a1a;
  line-height: 25px;
}
.profile_view_name:empty {
  display: none;
}
.profile_view_name .online_indicator {
  width: 8px;
  height: 8px;
  margin-left: 8px;
  position: relative;
}
.profile_view_name .online_indicator:after,
.profile_view_name .online_indicator:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #30bf78;
  opacity: 0.8;
  animation: profile_view_online_anim 7s ease-out infinite;
  animation-delay: 2s;
  z-index: -1;
}
.profile_view_name .online_indicator:after {
  animation-delay: 3s;
}
@keyframes profile_view_online_anim {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  25%,
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
.profile_view_info_rows {
  padding-top: 2px;
  margin-bottom: 12px;
}
.profile_view_info_rows:empty {
  display: none;
}
.profile_view_info_purpose {
  font-size: 16px;
  line-height: 20px;
  color: var(--text_placeholder);
  margin: 16px 0 10px;
}
.profile_view_info_purpose span {
  color: var(--text_placeholder);
}
.profile_view_info_row {
  line-height: 16px;
  font-size: 14px;
  color: var(--text_placeholder);
  margin-top: 7px;
  padding-left: 24px;
  position: relative;
}
.profile_view_info_row:before {
  content: '';
  top: 0;
  left: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: no-repeat center / contain;
  position: absolute;
}
.profile_view_info_row.geo:before {
  background-image: url('asset/ic_profile_geo.svg');
}
.profile_view_info_row.job:before {
  background-image: url('asset/ic_profile_job.svg');
}
.profile_view_info_row.education:before {
  background-image: url('asset/ic_profile_education.svg');
}
.profile_view_about {
  line-height: 24px;
  font-size: 16px;
  color: var(--text_primary);
}
.profile_view_about:empty {
  display: none;
}
.profile_view.deactivated .profile_view_about {
  text-align: center;
  color: var(--text_placeholder);
}
.profile_view_footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 16px 16px;
  padding-bottom: calc(16px + env(safe-area-inset-bottom));
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--background_content) 30%);
  position: fixed;
  bottom: 0;
  z-index: 100;
}
body.desktop .profile_view_footer {
  width: 450px;
}
body[scheme="client_dark"] .profile_view_footer {
  background: var(--background_content) !important;
}
.profile_view_footer_item {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.1);
  background: var(--background_light);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent);
}
.profile_view_footer_item:after {
  width: 24px;
  height: 24px;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: no-repeat center / contain;
}
.profile_view_footer_item.dislike:after {
  background-image: url('asset/ic_close_24_grey.svg');
}
.profile_view_footer_item {
  flex: 0 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  transition: opacity 150ms ease-in-out;
}
.profile_view_footer_item:active {
  opacity: 0.6;
}
.profile_view_footer_item:first-child {
  margin-left: 0;
}
.profile_view_footer_item:after {
  width: 24px;
  height: 24px;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: no-repeat center / contain;
}
.profile_view_footer_item.like:after {
  background-image: url('asset/ic_liked.svg');
}
.profile_view_footer_item.liked:after {
  background-image: url('asset/ic_liked.svg');
}
.profile_view_footer_item.message {
  color: #399EE6;
}
.profile_view_footer.deactivated .profile_view_footer_item.like,
.profile_view_footer.deactivated .profile_view_footer_item.liked {
  pointer-events: none;
}
.profile_view_footer.deactivated .profile_view_footer_item.like:after,
.profile_view_footer.deactivated .profile_view_footer_item.liked:after {
  background-image: url('asset/like_grey_24.svg') !important;
}
.profile_view_buttons {
  margin-top: 8px;
}
.profile_view_buttons:empty {
  display: none;
}
.profile_view_button {
  border-top: 1px solid var(--separator_alternate);
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--accent);
  padding: 13px 0;
  transition: opacity 150ms ease-in-out;
}
.profile_view_button:active {
  opacity: 0.6;
}
.profile_view_button:first-child {
  border: 0;
}
.profile_view_actions_info {
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  box-sizing: border-box;
  background: rgba(230, 57, 115, 0.16);
  border-radius: 8px;
  margin-top: 16px;
  color: var(--text_placeholder);
}
.profile_view_deactivated {
  margin-top: 19px;
  line-height: 24px;
  font-size: 16px;
  color: var(--text_placeholder);
  text-align: center;
  padding: 0 16px;
}
.profile_view_fav_btn {
  width: 48px;
  height: 48px;
  background: url('../../asset/fav_24.svg') no-repeat center / contain;
  background-size: 24px;
  position: absolute;
  top: 8px;
  right: 5px;
  cursor: pointer;
}
.profile_view_fav_btn.unfav {
  background-image: url('../../asset/unfav_24.svg');
}
.profile_view_extra_info_items {
  margin: 8px 0 16px;
}
.profile_view_extra_info_item {
  display: inline-flex;
  align-items: center;
  padding: 0 16px;
  height: 42px;
  background: var(--background_page);
  font-size: 14px;
  line-height: 18px;
  border-radius: 21px;
  margin: 8px 10px 0 0;
  color: var(--text_primary);
}
.profile_view_extra_info_item:last-child {
  margin-right: 0;
}
.profile_view_extra_info_item_label {
  font-weight: 500;
}
.profile_view_extra_info_item_value {
  margin-left: 6px;
}
.ProfileView__gifts {
  border-radius: 8px;
  background: var(--background_page);
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--text_primary);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-top: 16px;
}
.ProfileView__gifts:before {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background: url(https://dateapp.ru/gifts/100.png) no-repeat center / contain;
  position: absolute;
  bottom: -40px;
  left: -30px;
}
.ProfileView__gifts:after {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background: url(https://dateapp.ru/gifts/102.png) no-repeat center / contain;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}
.ProfileView__gifts__label {
  font-size: 15px;
}
.ProfileView__gifts__button {
  margin-top: 12px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid var(--accent);
  color: var(--accent);
  font-size: 16px;
}
