body,
input,
textarea {
  font-family: 'Roboto', sans-serif;
}
body {
  min-height: 100vh;
}
.PanelHeader-bg--brand,
.PanelHeader-content--brand,
.PanelHeader-left-in--brand,
.PanelHeader-addon--brand,
.PanelHeader-right--brand,
.Button--level-1,
.Button--lvl-primary {
  background: #e63973 !important;
}
.Header__content .Icon {
  display: inline-block;
}
.ActionSheetItem {
  overflow: hidden;
}
.Search {
  background: #ebebeb !important;
}
.Search__container {
  background: #fff !important;
}
.Search__input {
  color: #1a1a1a !important;
}
.Error {
  position: fixed;
  left: 0;
  z-index: 1000;
  width: 100%;
  background: #fff;
  color: #e63973;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  animation: global_error_anim 200ms ease-in-out forwards;
}
.global_loader {
  position: fixed;
  z-index: 900000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
.global_loader .global_loader_cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 104px;
  height: 104px;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}
.global_loader .global_loader_cont:after,
.global_loader .global_loader_cont .global_loader_success {
  position: absolute;
  top: 28px;
  left: 28px;
  width: 48px;
  height: 48px;
}
.global_loader .global_loader_cont:after {
  content: '';
  background: url('../asset/loader_pink_2x.png') no-repeat center / contain;
  animation: content_loader_anim 1s linear infinite;
  transition: opacity 150ms ease-in-out;
}
.global_loader path {
  stroke-dasharray: 0,120%;
  transition: stroke-dasharray 300ms ease-in-out;
  opacity: 0;
  overflow: hidden;
}
.global_loader.global_loader_success path {
  opacity: 1;
  fill: none;
  stroke: #e63973;
  stroke-dasharray: 100%,100%;
}
.global_loader.global_loader_success .global_loader_cont:after {
  display: none;
}
@keyframes global_error_anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes content_loader_anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.ui_inline_button {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  color: #e63973;
  border: 1px solid #e63973;
  padding: 7px 12px;
  border-radius: 6px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  transition: opacity 150ms;
  text-decoration: none !important;
}
.ui_inline_button:hover {
  opacity: 0.95;
}
.ui_inline_button:active {
  padding-top: 8px;
  padding-bottom: 6px;
}
.ui_inline_button.fill {
  background: #e63973;
  color: #fff;
  border: 0;
}
.ui_inline_button.fill.green {
  background: #30bf78;
}
.ui_inline_button.big {
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
.ui_inline_button.big:active {
  padding-top: 13px;
  padding-bottom: 11px;
}
.ui_inline_button.stretch {
  width: 100%;
}
.ui_inline_button.disabled {
  opacity: 0.48;
  cursor: default;
}
.ui_inline_button.light {
  background: rgba(230, 57, 115, 0.16);
  color: #e63973;
}
.ui_inline_button.white {
  background: #fff;
  color: #e63973;
  font-weight: 500;
  border: 0;
}
