@import "vars";

body, input, textarea {
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100vh;


  &.desktop {
    background: @color-grey-bg;
    box-sizing: border-box;

    #root {
      overflow-y: auto;
    }
  }
}

.PanelHeader-bg--brand,
.PanelHeader-content--brand,
.PanelHeader-left-in--brand,
.PanelHeader-addon--brand,
.PanelHeader-right--brand,
.Button--level-1,
.Button--lvl-primary {
  //background: @color-pink !important;
}

.Header__content .Icon {
  display: inline-block;
}

.ActionSheetItem {
  overflow: hidden;
}

.Search {
  //background: @color-grey-bg !important;
}

.Search__container {
 // background: @color-white !important;
}
.Search__input {
  //color: @color-black !important;
}

.Link {
  //color: @color-pink !important;
}

.Error {
  position: fixed;
  left: 0;
  z-index: 1000;
  right: 0;
  background: @color-white;
  color: @color-pink;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 5px 5px rgba(0,0,0,0.1);
  animation: global_error_anim 200ms ease-in-out forwards;

  body.desktop & {
    right: @menu-width;
  }
}

.global_loader {
  position: fixed;
  z-index: 900000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;

  .global_loader_cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--background_light);
    .size(104px);
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
    border-radius: 8px;

    &:after, .global_loader_success {
      position: absolute;
      top: 28px;
      left: 28px;
      .size(48px);
    }

    &:after {
      content: '';
      background: url('../asset/loader_pink_2x.png') no-repeat center/contain;
      animation: content_loader_anim 1s linear infinite;
      transition: opacity 150ms ease-in-out;
    }
  }

  path {
    stroke-dasharray: 0,120%;
    transition: stroke-dasharray 300ms ease-in-out;
    opacity: 0;
    overflow: hidden;
  }

  &.global_loader_success path {
    opacity: 1;
    fill: none;
    stroke: @color-pink;
    stroke-dasharray: 100%,100%;
  }

  &.global_loader_success .global_loader_cont:after {
    display: none;
  }
}

@keyframes global_error_anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes content_loader_anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.ui_inline_button {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  color: @color-pink;
  border: 1px solid @color-pink;
  padding: 7px 12px;
  border-radius: 6px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  transition: opacity 150ms;
  text-decoration: none !important;

  &:hover {
    opacity: 0.95;
  }

  &:active {
    padding-top: 8px;
    padding-bottom: 6px;
  }

  &.fill {
    background: @color-pink;
    color: @color-white;
    border: 0;

    &.green {
      background: @color-green;
    }
  }

  &.big {
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;

    &:active {
      padding-top: 13px;
      padding-bottom: 11px;
    }
  }

  &.stretch {
    width: 100%;
  }

  &.disabled {
    opacity: 0.48;
    cursor: default;
  }

  &.light {
    background: rgba(230, 57, 115, 0.16);
    color: @color-pink;
  }

  &.white {
    background: @color-white;
    color: @color-pink;
    font-weight: 500;
    border: 0;
  }
}

.clear_fix {
  &:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
  }
}

body.desktop {
  .HeaderContext {
    left: initial;
    overflow: hidden;
    transform: translateY(@header-height) !important;
  }

  .FixedLayout {
    width: ~"calc(100% - 240px)";
    right: @menu-width;
  }

  .FixedLayout--top {
    top: @header-height;
  }

  .HeaderContext {
    top: 0 !important;
  }

  .FormLayout {
    padding: 0 60px;
  }
}

.VKPay_info {
  display: flex;
  align-items: center;
  text-align: center;
  color: @color-grey;
  margin-top: 12px;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}

.VKPay_icon {
  margin-left: 0;
  background: url('../asset/vkpay_logo.png') no-repeat center/contain;
  width: 57px;
  height: 18px;
  flex: 0 0 auto;
}

// Notifications

.notifications {
  position: absolute;
  width: 100%;
  max-width: 420px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  z-index: 2000;
  box-sizing: border-box;

  &:empty {
    display: none;
  }

  .vk_apps & {
    top: env(safe-area-inset-top);
  }
}

.notification {
  position: absolute;
  border-radius: @border-radius;
  background-color: var(--background_light);
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  animation: notification_show_anim 200ms ease-in-out forwards;
  padding: 16px 48px 16px 16px;
  box-sizing: border-box;
  top: 8px;
  left: 8px;
  right: 8px;
  text-decoration: none !important;

  &.hide {
    animation: notification_hide_anim 200ms ease-in-out forwards;
  }
}

.notification_photo {
  flex: 0 0 auto;
  .circle(40px);
  background: no-repeat center/cover;

  .payments_profile_block & {
    background-image: url('../asset/art_premium_96@2x.png');
  }
}

.notification_cont {
  flex: 1;
  margin-left: 12px;
  overflow: hidden;
}

.notification_title {
  color: var(--text_primary);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.notification_caption {
  font-size: 14px;
  line-height: 18px;
  color: @color-grey;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .notification.multi_line & {
    white-space: normal;
  }

  .notification.mark_caption & {
    color: @color-pink;
  }
}

.notification_close {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 100%;
  background: url('../asset/close_16.svg') no-repeat center;
  background-size: 16px;
  cursor: pointer;
}

@keyframes notification_show_anim {
  from {
    transform: translateY(-115%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes notification_hide_anim {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-115%);
  }
}

.payments_profile_block {
  position: relative !important;
  margin: 26px 0 0 !important;
  animation: none !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  cursor: pointer;

  .notification_caption {
    color: @color-pink;
  }

  .notification_caption.grey {
    color: @color-grey;
  }

  .notification_close {
    background-image: url('../asset/arrow_16.svg');
  }
}

.Premium__expire {
  color: @color-grey;
  padding: 16px 16px 0;

  span {
    color: @color-black;
  }
}

.FeatureBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background_content);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.FeatureBox__photos {
  position: relative;
  width: 230px;
  height: 80px;
}

.FeatureBox__photo {
  position: absolute;
  top: 0;
  .circle(80px);
  background: no-repeat center/cover;
  z-index: 2;

  &.user {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    .circle(120px);
  }

  &.first {
    left: 0;
  }

  &.last {
    right: 0;
  }
}

.FeatureBox__title {
  color: var(--text_primary);
  font-size: 18px;
  line-height: 22px;
  margin-top: 56px;
}

.FeatureBox__caption {
  color: var(--text_secondary);
  font-size: 16px;
  margin-top: 18px;
  line-height: 20px;
}