@import "css/vars";

body.desktop {
  padding-top: 48px;;
}

.App__desktop__header {
  height: 48px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e4e4e4;
  font-weight: 500;
  position: fixed;
  width: 100%;
  padding-right: 240px;
  z-index: 100;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background: @color-pink;
  color: @color-white;
}
